@using SACLA_App.ViewModels
@using SACLA_App.Models
@model IEnumerable<PaperModel>

@{
    ViewData["Title"] = "My Papers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>My Papers</h2>
    <a class="btn btn-primary mt-3" asp-action="Create">Create New</a>
</div>

@if (TempData["Alert"] != null)
{
    var alertType = TempData["Alert"];
    <div class="alert alert-@alertType alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Message"]
    </div>
}

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date Submitted</th>
            <th scope="col">Topic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paper in Model)
        {
            <tr class="align-middle">
                <td>@paper.Id</td>
                <td>@paper.Title</td>
                <td>@paper.Author</td>
                <td>@paper.DateSubmitted</td>
                <td>@paper.Topic.Name</td>
                <td>
                    <a class="btn btn-outline-success mx-2" asp-action="Details" asp-route-id="@paper.Id">Details</a>
                    <a class="btn btn-outline-primary mx-2" asp-action="Edit" asp-route-id="@paper.Id">Edit</a>
                    <a class="btn btn-outline-danger mx-2" asp-action="Delete" asp-route-id="@paper.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
