@using SACLA_App.ViewModels
@model ApplicationViewModel

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Topic</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paper in Model.Papers)
        {
            <tr>
            <th scope="row">@paper.Id</th>
            <th>@paper.Title</th>
            <th>@paper.Author</th>
            <th>@paper.Topic</th>
            <td>
                <a asp-page="./Edit" asp-route-id="@paper.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@paper.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@paper.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>