@using SACLA_App.Models
@model PaperModel

@{
    ViewData["Title"] = "Delete Paper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Delete</h2>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-8 mb-3">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-4 mb-3">
                        @Html.DisplayNameFor(model => model.Abstract)
                    </dt>
                    <dd class="col-sm-8 mb-3">
                        @Html.DisplayFor(model => model.Abstract)
                    </dd>
                    <dt class="col-sm-4 mb-3">
                        @Html.DisplayNameFor(model => model.DateSubmitted)
                    </dt>
                    <dd class="col-sm-8 mb-3">
                        @Html.DisplayFor(model => model.DateSubmitted)
                    </dd>
                    <dt class="col-sm-4 mb-3">
                        @Html.DisplayNameFor(model => model.Topic)
                    </dt>
                    <dd class="col-sm-8 mb-3">
                        @Html.DisplayFor(model => model.Topic.Name)
                    </dd>
                    <dt class="col-sm-4 mb-3">
                        @Html.DisplayNameFor(model => model.Author)
                    </dt>
                    <dd class="col-sm-8 mb-3">
                        @Html.DisplayFor(model => model.Author.UserName)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-outline-primary mx-2" asp-action="Author">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
