@using SACLA_App.ViewModels
@model ApplicationViewModel

@{
    ViewData["Title"] = "Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Topic</th>
            <th scope="col">Date Submitted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paper in Model.Papers)
        {
            <tr>
            <td>@paper.Id</td>
            <td>@paper.Title</td>
            <td>@paper.Author</td>
            <td>@paper.DateSubmitted</td>
            <td>@paper.Topic</td>
        </tr>
        }
    </tbody>
</table>